:root {
  /* COLORS */
  --BGCOLOR: #1e282a;
  --BORDER-COLOR: #FFF;
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(211, 211, 211, 0.9);
  --blog-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
}


.Main-content{
  min-height: 100vh;

  display:flex;

  justify-content: center;
  align-items: center;
}

.Main-title{
  font-size:8vw;
}

.Main-buttons{
  display:flex;
  justify-content: space-evenly;
}

.Main-button a{
  font-size:2vw;
  color:var(--COLOR);
  text-decoration: none;
}
.Main-button:hover a{
  color:var(--LINK-HOVER)
}


/* DASH HEADER */
.dash-header{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: #1e282a;
  padding: 0 0.5em;
  border-bottom: 1px solid var(--COLOR);
}



.dash-header__container{
  display: flex;
  flex-flow: row nowrap;
  justify-content:space-evenly;
  color:var(--COLOR); 
}
.dash-header__title{
  text-align: center;
  color:var(--COLOR);
}

.dash-header__title:hover{
  color:var(--LINK-HOVER);
  text-decoration-line: none;
}
.dash-header__button{

}

.left-content{
  padding: 0; 
  margin: 0;  
  flex-grow: 1;
}

.center-content{
  text-align: center;
  padding: 0; 
  margin: 0;  
  flex-grow: 1;
}
.center-content a {
  text-decoration: none;
}

.right-content{
  padding: 0; 
  margin: 0;  
  flex-grow: 1;
  text-align: right;
}


/* DASH FOOTER */
.Dash-footer{
  position:absolute;
  bottom: 0;
  width:100%;
  z-index: 1;

  background-color: #1e282a;
  padding: 0 0.5em;

  border-top: 1px solid var(--COLOR)

}

.Dash-footer__container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color:var(--COLOR); 
}
.Dash-footer__title{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0.9%;
  color:var(--COLOR);
}

.Dash-footer__title:hover{
  color:var(--LINK-HOVER);
}

.Dash-footer__center{
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  padding: 0.1%; 
  margin: 0;  
  flex-grow: 1;
}

.Dash-footer a {
  text-decoration: none;
}


/* NEW COMPONENT TEXT*/

.Group-title{
  border: #61dafb;
  
}

.select2-container  {
  max-height: 50%;
  color:var(--BGCOLOR);
  overflow-y: scroll;
  overflow-x:hidden;
  border-radius: 5px;
  border-style: solid;
  border-color: black; 
  background-color:var(--COLOR);

  cursor: pointer;
  padding: 10px;
  
}

.select2-container:hover{
  color: rgb(0, 0, 108);
  
  transition: color 0.3s ease
}

.select2-results__option{
  
  color:black;
  
  background-color: rgb(255, 255, 255);
}

.select2-results__option--highlighted:hover {
  color: rgb(255, 0, 0);

  transition: color 0.3s ease
}

.custom-select2-dropdown{
  background-color: crimson;
}

/* NEW COMPONENT LABELS */
.InputLabel {
  color: var(--BGCOLOR);
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

/* New Component form */

.CompForm label{
  font-weight: bold;
}
.CompForm{
  padding:10px;
  display:flex;
  flex-direction: column;
  gap:2%;
  align-items: center;
  text-align: center;
}

.CompContainer{
  display: flex;
  flex-direction: column;
  padding:5%;

  border-radius: 3%;

  background-image: url('https://static.vecteezy.com/system/resources/previews/003/267/214/non_2x/modern-clean-white-background-free-vector.jpg');
  background-position: center;
  background-size: cover;
}

/* USER MENU */
.Dash-Icon{
  width: 32px;
  height: 32px;
}

.Dash-Icon:hover{
  src: "https://static-00.iconduck.com/assets.00/profile-user-icon-2048x2048-m41rxkoe.png";
}
.user-menu{
  display:none;
  position:absolute;
  top: 60px;
  right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1%;
  width: 150px;
  z-index: 1000;
}
.user-menu ul{
  list-style: none;
  padding: 0;
  margin:0;
}

.user-menu ul li{
  border-radius: 5%;
  
  padding: 10px 0;
}

.user-menu ul li a {
  text-decoration: none;
  color: #333;
}
.user-menu a{
  padding-right: 55%;
  padding-top:10%;
  padding-bottom:10%;
}

.user-menu li:hover {
  background-color: #878787;

  transition-duration: 0.2s;
}

.user-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.egg{
  display: none;
}

