.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* DASH HEADER */
.dash-header{
  position: sticky;
  top:0;
  z-index: 1;
  background-color: #929292;
  padding: 0 0.5em;
  border-bottom: 1px solid #9e0000
}

.dash-header__container{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
}
.dash-header__title{
  text-align: center;
  color:black;
}

.dash-header__button{

}

.left-content{
  padding: 0; 
  margin: 0;  
  flex-grow: 1;
}

.center-content{
  padding: 0; 
  margin: 0;  
  flex-grow: 1;
}

.right-content{
  padding: 0; 
  margin: 0;  
  flex-grow: 1;
  text-align: right;
}



/* New Component select*/

.Group-title{
  border: #61dafb;
  color:blue;
}

.select2-container  {
  max-height: 50%;
  
  overflow-y: scroll;
  overflow-x:hidden;
  border-radius: 5px;
  border-style: solid;
  border-color: black; 
  background-color: rgb(255, 255, 255);

  cursor: pointer;
  padding: 10px;
  
}

.select2-container:hover{
  color: rgb(0, 0, 108);
  
  transition: color 0.3s ease
}

.select2-results__option{
  
  color:black;
  
  
  background-color: rgb(255, 255, 255);
}

.select2-results__option--highlighted:hover {
  color: rgb(255, 0, 0);

  transition: color 0.3s ease
}

.custom-select2-dropdown{
  background-color: crimson;
}

/* New Component labels */
.InputLabel {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

/* New Component form */

.CompForm label{
  font-weight: bold;
}
.CompForm{
  display:flex;
  flex-direction: column;
  gap:2%;
  align-items: center;
  text-align: center;
}

.CompContainer{
  display: flex;
  flex-direction: column;
  padding:10%;

  border-radius: 3%;
  border-color:burlywood;
  border-style: ridge;

  background-image: url('https://static.vecteezy.com/system/resources/previews/003/267/214/non_2x/modern-clean-white-background-free-vector.jpg');
  background-position: center;
  background-size: cover;
}

/* USER MENU */
.Dash-Icon{
  width: 32px;
  height: 32px;
}

.user-menu{
  display:none;
  position:absolute;
  top: 60px;
  right: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1%;
  width: 150px;
  z-index: 1000;
}
.user-menu ul{
  list-style: none;
  padding: 0;
  margin:0;
}

.user-menu ul li{
  border-radius: 5%;
  
  padding: 10px 0;
}

.user-menu ul li a {
  text-decoration: none;
  color: #333;
}
.user-menu a{
  padding-right: 55%;
  padding-top:10%;
  padding-bottom:10%;
}

.user-menu li:hover {
  background-color: #878787;

  transition-duration: 0.2s;
}

.user-icon img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.egg{
  display: none;
}