.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-flag{
  width:64px;
  height:64px;
}
.optgroup-image{
  width:64px;
  height:64px;  
}

/*Component name*/
.select2-container .select2-results__option {
  padding: 5px; 
  color: black;
  background-color: rgb(190, 190, 190);
}

.select2-results__option--highlighted:hover {
  color: rgb(255, 255, 255);
  transition: color 0.3s ease
}
